*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1200px;
}
.wraper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
/* download Button */

button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #009578;
    color: white;
    height: 70px;
    width: 200px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 0 50px 0 0;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}
button:hover{
    background: #008168;
}
.button-text,
.button-icon{
    display: inline-flex;
	align-items: center;
	padding: 0 19px;
	color: #fff;
	height: 100%;
}
.button-icon{
    font-size: 25px;
    background: rgba(13, 72, 4, 0.08);
}

/* Upload button */
.button1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: tomato;
    color: white;
    height: 70px;
    width: 200px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 30px 0 30px 0;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}
.button1:hover{
    background: rgb(123, 30, 13);
}
.button-text1,
.button-icon1{
    display: inline-flex;
	align-items: center;
	padding: 0 40px;
	color: #fff;
	height: 100%;
}
.button-icon1{
    font-size: 25px;
    background: rgba(13, 72, 4, 0.08);
}

/*  save button */
.button2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 106, 0);
    color: white;
    height: 70px;
    width: 200px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 40px 0 0 0;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}
.button2:hover{
    background: rgb(172, 74, 5)
}
.button-text2,
.button-icon2{
    display: inline-flex;
	align-items: center;
	padding: 0 20px;
	color: #fff;
	height: 100%;
}
.button-icon2{
    font-size: 25px;
    background: rgba(13, 72, 4, 0.08);
}

/* Read */
.button3{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 137, 0);
    color: white;
    height: 70px;
    width: 200px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 15px 0 15px 0;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}
.button3:hover{
    background: rgb(0, 114, 44)
}
.button-text3,
.button-icon3{
    display: inline-flex;
	align-items: center;
	padding: 0 15px;
	color: #fff;
	height: 100%;
}
.button-icon3{
    font-size: 25px;
    background: rgba(13, 72, 4, 0.08);
}

/* Setting */
.button4{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    color: white;
    height: 70px;
    width: 200px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}
.button4:hover{
    background: rgb(183, 100, 112);
}
.button-text4,
.button-icon4{
    display: inline-flex;
	align-items: center;
	padding: 0 25px;
	color: #fff;
	height: 100%;
}
.button-icon4{
    font-size: 30px;
    background: rgba(13, 72, 4, 0.08);
}

/* Message */
.button5{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 111, 202);
    color: white;
    height: 70px;
    width: 200px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 20px 0 20px 0;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}
.button5:hover{
    background: rgb(1, 58, 105)
}
.button-text5,
.button-icon5{
    display: inline-flex;
	align-items: center;
	padding: 0 15px;
	color: #fff;
	height: 100%;
}
.button-icon5{
    font-size: 30px;
    background: rgba(13, 72, 4, 0.08);
}

/* Whatsapps */
.button6{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 137, 0);
    color: white;
    height: 70px;
    width: 200px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}
.button6:hover{
    background: rgb(1, 58, 105)
}
.button-text6,
.button-icon6{
    display: inline-flex;
	align-items: center;
	padding: 0 15px;
	color: #fff;
	height: 100%;
}
.button-icon6{
    font-size: 30px;
    background: rgba(13, 72, 4, 0.08);
}

/* Go */

.button7{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
    height: 70px;
    width: 200px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 15px 0 15px 0;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}
.button7:hover{
    background: rgb(83, 1, 83)
}
.button-text7,
.button-icon7{
    display: inline-flex;
	align-items: center;
	padding: 0 20px;
	color: #fff;
	height: 100%;
}
.button-icon7{
    font-size: 30px;
    background: rgba(13, 72, 4, 0.08);
}